{
  "trailingComma": "es5",
  "tabWidth": 2,
  "useTabs": false,
  "whitespace": [
    false,
    "check-branch",
    "check-decl",
    "check-operator",
    "check-separator",
    "check-type"
  ]
}
