@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Source+Code+Pro&display=swap");

body,
p {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 18px;
}

h4 {
  margin: 1rem 0;
}

pre,
code,
.tsd-signature {
  font-family: "Source Code Pro", "Courier New", Courier, monospace;
  padding: 0 0.5em;
  line-height: 1.75;
  margin: 1px;
  border: none !important;
  background: var(--code-background);
}

pre,
.tsd-signature {
  display: block;
  padding: 0.75em 1em;
  margin: 1em 0;
  border-radius: 6px;
}

pre code {
  padding: 0;
  border: none;
}

code {
  display: inline-block;
  border-radius: 4px;
}
